
@{
    ViewData["Title"] = "ThanksPage";
}


<link href="~/css/contactusthankyou.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-6 m-auto">
      @*   <div class="div-10">
            <img loading="lazy"
                 srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a7bfec20e0e0da69b8e8c021746fbb4e1e7d7c0fe2c856aa6f600543252e564a?apiKey=5bfa0027433b40b0a8add5315cea68da&"
                 class="img-3" />
            <div class="div-11">Contact us</div>
        </div> *@
        <div style="text-align: center;">
            <img loading="lazy"
                 src="~/image/Vector (3).png"
                 class="img-4" />
            <div class="div-12">Thank You!</div>
            <div class="div-13">Your application was successfully submitted.</div>
            <div class="div-14">
                <span style="
          font-family: Tomato Grotesk, -apple-system, Roboto, Helvetica,
            sans-serif;
            color: #212529;
        ">
                    Thank you for contacting us, We will get back to you as soon as possible!
                    Alternatively in case of urgency please feel free to contact us on
                </span>
                <span style="
          font-family: Tomato Grotesk, -apple-system, Roboto, Helvetica,
            sans-serif;
          color: rgba(10, 71, 201, 1);
        ">
                    1300 380 018
                </span>
            </div>
        </div>
    </div>

</div>

